body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

div {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login {
    display: flex;
    flex-direction: column;
}

.login label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.login input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #218838;
}

.login p {
    text-align: center;
    margin: 15px 0;
}

.login a {
    color: #007BFF;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.login input.error {
    border-bottom: 2px solid #ff4332;
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.none {
    display: none;
}

.logout {
    color: #b7625c;
}